<section class="wcu-section section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="wcu-video">
                    <div class="video-poster-one bg-img-c" style="background-image: url(assets/img/video-bg/poster-4.jpg);">
                    </div>
                    <div class="video-poster-two bg-img-c" style="background-image: url(assets/img/video-bg/poster-5.jpg);">
                        <a href="#" class="popup-video">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="wcu-text-two">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">Why We Are Best ?</span>
                        <h2 class="title">We Have Many Reasons Why Choose Us</h2>
                    </div>
                    <p>
                        Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium doloremque
                        laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <ul class="wcu-list clearfix">
                        <li *ngFor="let item of list">
                            <i class="far fa-check-circle"></i> {{item.text}}
                        </li>
                    </ul>
                    <a routerLink="/contact" class="main-btn">Join With Us</a>
                </div>
            </div>
        </div>
    </div>
</section>