<section class="contact-section boxed-style-with-map">
    <div class="container">
        <div class="contact-inner mt-negative grey-bg">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.67775982961!2d55.27580326538114!3d25.21408738720181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f428c49ce3023%3A0x39373b9c9286e6cc!2sTrustLNS%20Services!5e0!3m2!1sen!2sin!4v1648191278323!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Drop A Message</span>
                            <h2 class="title">Get in touch with us</h2>
                        </div>
                        <form [formGroup]="fcontactForm" (ngSubmit)="onSubmit(fcontactForm.value)" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-30">
                                    <input type="text" placeholder="Your Full Name" name="from_name" id="from_name" formControlName="from_name" required>
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    <span *ngIf="submitted && fcontactForm.controls.from_name.errors?.required">Please enter a valid name</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Your Email Address" name="to_email" id="to_email" formControlName="to_email"  required>
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    <span *ngIf="submitted && fcontactForm.controls.to_email.errors?.required">Please enter a valid email</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Phone" (keypress)="keyPressNumbers($event)" name="to_phone" id="to_phone" formControlName="to_phone" required>
                                        <span class="icon"><i class="far fa-phone"></i></span>
                                        <span *ngIf="submitted && fcontactForm.controls.to_phone.errors?.required">Please enter a valid contact</span>
                                    </div>
                                </div> 
                                <div class="col-12">
                                    <div class="input-group select mb-30">
                                        <select name="to_subject" placeholder="Subject" id="to_subject" formControlName="to_subject" required>
                                            <option value="subject" selected>Subject</option>
                                            <option value="Creative Idea">Creative Idea</option>
                                            <option value="Relationship">Relationship</option>
                                            <option value="Business Strategy">Business Strategy</option>
                                            <option value="Productivity">Productivity</option>
                                            <option value="It Solutions">It Solutions</option>
                                            <option value="Product Design">Product Design</option>
                                        </select>
                                        <span class="icon"><i class="far fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                    <textarea placeholder="Write Message" name="message_html" id="message_html" formControlName="message_html" required></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    <span *ngIf="submitted && fcontactForm.controls.message_html.errors?.required">Please enter a valid message</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="main-btn">Send Message</button>
                                </div>
                                <div class="row" *ngIf="showMsg">
                                    <div class="col-xs-12 quote-success">
                                        <p></p>
                                        <p class="alert alert-success">
                                            {{successMsg}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
