<section class="skill-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Skill Text Block -->
                <div class="skill-text">
                    <div class="section-title mb-40 left-border">
                        <span class="title-tag">Company Skills</span>
                        <h2 class="title">We Have Experience <br> For Business Planning</h2>
                    </div>
                    <p>
                        Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium doloremque
                        laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <p>
                        But I must explain to you how all this mistaken idenouncing pleasure and praising pain was
                        born and I will give completey account of the system, and expound the actual teachings of
                        the great explorer of the truth, the master-builder of human happiness one rejects,
                        dislikes, or avoid
                    </p>

                    <a routerLink="/about" class="main-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="piechart-boxes">
                    <div class="chart-box">
                        <div class="chart" data-percent="25">
                            <circle-progress [percent]="25" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-presentation"></i>
                        </div>
                        <h4 class="title">Business Strategy</h4>
                    </div>
                    <div class="chart-box">
                        <div class="chart" data-percent="40">
                            <circle-progress [percent]="40" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-money-bags"></i>
                        </div>
                        <h4 class="title">Financial Planing</h4>
                    </div>
                    <div class="chart-box">
                        <div class="chart" data-percent="75">
                            <circle-progress [percent]="75" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-invest"></i>
                        </div>
                        <h4 class="title">Marketing Startegy</h4>
                    </div>
                    <div class="chart-box">
                        <div class="chart" data-percent="80">
                            <circle-progress [percent]="80" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-connector"></i>
                        </div>
                        <h4 class="title">Relationship Buildup</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>