<section class="feature-section section-gap">
    <div class="container">
        <div class="section-title text-center both-border mb-50">
            <span class="title-tag"> Our Core Features </span>
            <h2 class="title">We Are Specialist For Many <br> Business Solutions</h2>
        </div>
        <!-- Feature boxes -->
        <div class="feature-boxes row justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 col-tiny-12" *ngFor="let item of service | slice:0:6">
                <div class="feature-box">
                    <div class="feature-bg bg-img-c" [style.background-image]="'url('+item.img+')'"> </div>
                    <div class="feature-desc">
                        <a routerLink="/service-details/{{item.id}}" class="feature-link"><i
                                class="fal fa-long-arrow-right"></i></a>
                        <h4>{{item.title}}</h4>
                        <p>{{item.shortdesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>