<section class="about-section-three section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                <div class="about-text-three">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">About Us</span>
                        <h2 class="title">The Perfect Tech Experience made with Trust</h2>
                    </div>
                    <p class="mb-25">
                        With persistent effort, quality deliverables, and time-tested results, Trust LNS is regarded as the top-rated 
                        IT service provider in Dubai. We are the pioneer in IT services and digital marketing solutions, with every step of 
                        our development process, ensuring quality compliance. We have a remarkably talented and experienced team of 
                        professionals who are accustomed to hard work. We’re very proud of the team we’ve built, young and talented 
                        professionals with a vision & passion. 
                        <!-- ranging from Project Managers, UI/UX & Graphic Designers, 
                        SEO & Digital Marketing Specialists, Content & Copy Writers, PHP, IOS & Magento Developers, and Testers. 
                        A well-seasoned team who possesses extensive knowledge & proven custom software development expertise united 
                        to deliver outright results for our flawless customer service. Our future is sure to be bright with the level 
                        of trust we maintain with our clients, ensuring them high satisfaction and long-term partnerships -->
                    </p>
                    <ul class="about-list">
                        <li *ngFor="let item of list"> <i class="far fa-check"></i> {{item.text}}</li>
                    </ul>
                    <a routerLink="/about" class="main-btn main-btn-4">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                <div class="about-tile-gallery">
                    <img src="assets/img/video-bg/poster-3.jpg" alt="Image" class="image-one wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <img src="assets/img/video-bg/poster-2.jpg" alt="Image" class="image-two wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="600ms">
                </div>
            </div>
        </div>
    </div>
</section>
