<section class="about-section-three section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                <div class="about-text-three">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">About Us</span>
                        <h2 class="title">The Perfect Tech Experience made with Trust</h2>
                    </div>
                    <p class="mb-25">
                        With persistent effort, quality deliverables, and time-tested results, Trust NLS is regarded as the top-rated IT service provider in Dubai. Envisioned to keep up the established reputation, we endeavour customized and innovative IT solutions that made us stand high with pride. We adequately provide our clients with the required level of services that suits the nature of the business to identify how well it is performing. Our future is sure to be bright with the remarkably talented team members and they thrive to deliver outright results for our flawless customer service.
                    </p>
                    <ul class="about-list">
                        <li *ngFor="let item of list"> <i class="far fa-check"></i> {{item.text}}</li>
                    </ul>
                    <a routerLink="/about" class="main-btn main-btn-4">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                <div class="about-tile-gallery">
                    <img src="assets/img/video-bg/poster-3.jpg" alt="Image" class="image-one wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <img src="assets/img/video-bg/poster-2.jpg" alt="Image" class="image-two wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="600ms">
                </div>
            </div>
        </div>
    </div>
</section>
