<section class="wcu-section box-style">
    <div class="container">
        <div class="wcu-inner">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="wcu-image text-center text-lg-left">
                        <img src="assets/img/illustration/02.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="wcu-text">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">What We Do</span>
                            <h2 class="title">Why Choose Finsa <br> Business Agency</h2>
                        </div>
                        <p>
                            Sedut perspiciatis unde omnis iste natus evoluptat em accusantium doloremque laudantium
                        </p>
                        <ul class="wcu-list">
                            <li *ngFor="let item of list">
                                <i class="far fa-check-circle"></i> {{item.title}}
                            </li>
                        </ul>

                        <a routerLink="/contact" class="main-btn main-btn-4">Join With Us</a>
                    </div>
                </div>
            </div>
            <img src="assets/img/lines/03.png" alt="shape" class="line-shape-one">
            <img src="assets/img/lines/04.png" alt="shape" class="line-shape-two">
        </div>
    </div>
</section>