<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">About Us</span>
                        <h2 class="title">Professional Business <br> Guidance Agency </h2>
                    </div>
                    <p class="mb-25">
                        Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium doloremq
                        laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <p>
                        Doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <ul class="about-list">
                        <li> <i class="far fa-check"></i> Business & Consulting Agency</li>
                        <li> <i class="far fa-check"></i> Awards Winning Business Comapny</li>
                    </ul>
                    <a routerLink="/about" class="main-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>