<!-- About Widget -->
<div class="widget about-widget">
    <div class="logo mb-30">
        <img src="assets/img/logo-3.png" alt="img">
    </div>
    <p>
        Sedut perspiciatis unde omnis iste natus error sit voluptat em accusantium
        doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
    </p>
</div>
<!-- Contact information Widget -->
<div class="widget contact-info-widget">
    <h5 class="widget-title">Contact Us</h5>
    <ul>
        <li>
            TrustLNS Services, 7th Floor, Al Saqr Business Tower, Dubai, UAE.
        </li>
         <li>
            <i class="far fa-phone"></i>
            +971 4 377 9750
        </li>
        <li>
            <i class="far fa-envelope-open"></i>
            support@icmbservices.ae
        </li>
    </ul>
</div>
<!-- tweets Widget -->
<!-- <div class="widget tweets-widget">
    <h5 class="widget-title">Recent tweets</h5>
    <ul>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
    </ul>
</div> -->
<!-- Social Link -->
<div class="widget social-link">
    <h5 class="widget-title">Follow us</h5>
    <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-behance"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
    </ul>
</div>
