<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <h2 class="title">Experiencing IT, Expanding Possibilities, Empowering Business</h2>
                    <p class="mb-25">
                        Being one of the excellent and ordained IT and digital solution providers rooted in Dubai, 
                        Trust LNS helps to streamline your business processes and implement digital strategies to 
                        build your brand and business. In the vast and confusing digital marketplace, we place our
                        whole souls to accommodate our client's marketing objectives for progressive improvements 
                        that lead to more sales and inquiries. 
                    </p>
<!--                    <ul class="about-list hidden">-->
<!--                        <li *ngFor="let item of list"> <i class="far fa-check"></i> {{item.text}}</li>-->
<!--                    </ul>-->
                    <!--<a routerLink="/about" class="main-btn">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
