<app-header-one></app-header-one>
<app-breadcrumb></app-breadcrumb>

<section class="refund-policy-section about-illustration-img section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h4>WEBSITE TERMS and CONDITIONS</h4>
                <p> THESE TERMS AND CONDITIONS (INCLUDING THE PRIVACY AND SECURITY POLICY) GOVERN YOUR USE OF THIS WEBSITE. BY ACCESSING AND USING THIS WEBSITE, YOU AGREE TO ABIDE BY THE TERMS AND CONDITIONS (INCLUDING THE PRIVACY AND SECURITY POLICY) SET OUT BELOW. </p>
                <h4>ACCESS TO WEBSITE</h4>
                <p> This website and the copyright in all text, graphics, images, software and any other materials on this website is owned by Trust LNS Services. You may only use the materials on this website solely for your own personal use and solely for non-commercial purposes. Except as expressly stated herein, you may not without the prior written permission of Trust LNS Services alter, modify, reproduce, distribute or commercially exploit any materials from the website. You acknowledge that “www.trustlns.ae” is a trademark of Trust LNS Services.</p>
                <h4>THIRD-PARTY MATERIALS AND WEBSITES</h4>
                <p> This website may contain materials produced by third parties or links to other websites. Such materials and websites are provided by third parties and are not under the direct control of Trust LNS Services and Trust LNS Services accepts no responsibility or liability in respect to any such third-party materials or for the operation or content of other websites (whether or not linked to this website). You acknowledge that Trust LNS Services shall be entitled to require you to remove any link from another website to this website if you install without obtaining Trust LNS Services prior written consent.</p>
                <h4>Trust LNS SERVICES LIABILITY</h4>
                <p> Although Trust LNS Services updates the website on a regular basis, it does not warrant that the information or materials contained in the website are current or accurate or that any of products or services featured on the website are available. Trust LNS Services may change the materials appearing on this website at any time without notice.</p>
                <h4>INDEMNITY</h4>
                <p> You agree to indemnify, defend and hold Trust LNS Services, its parents, subsidiaries, affiliates, officers and employees harmless from any loss, cost, damage, claim or demand, including reasonable legal fees, made by any third party or incurred or suffered by Trust LNS Services or its parents, subsidiaries, affiliates, officers or employees in connection with your use of the website in breach of these Terms and Conditions or negligence.</p>
                <h4>YOUR INFORMATION</h4>
                <p> In addition to any obligations that you may have if you register to become a Customer of Trust LNS Services, you agree to ensure that all information which you provide to Trust LNS Services is complete and accurate to the best of your knowledge and belief. You agree to notify Trust LNS Services immediately of any changes to the details you have provided to enable Trust LNS Services to keep its records up to date and accurate. The information that you provide about yourself will only be used by Trust LNS Services in accordance with its Privacy and Security Policy and otherwise in accordance with UAE Privacy and data protection laws.</p>
            </div>
        </div>
    </div>
</section>

<app-footer-contact></app-footer-contact>
<section class="client-section">
    <div class="container">
        <div class="client-slider section-gap line-top">
            <app-brands></app-brands>
        </div>
    </div>
</section>

<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [shape2]="ftshape2" [shapeclass]="ftshapeclass"
    [shape2class]="ftshape2class"></app-footer>