<app-header-one></app-header-one>
<app-breadcrumb></app-breadcrumb>

<section class="privacy-policy-section about-illustration-img section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>PRIVACY POLICY</h2>
                <h4>Trust LNS’s COMMITMENT TO CUSTOMER PRIVACY</h4>
                <p> At Trust LNS, we value your relationship with us, and we know that the respect for your privacy is the
                    very
                    foundation of that relationship. Since the inception of Trust LNS, we’ve built a reputation based on
                    trust
                    and confidentiality. Advances in technology have made safeguarding private information all the more
                    important. In building customer loyalty, we promise to safeguard every information our customers
                    share
                    with us with utmost importance. </p>
                <h4>ABOUT THIS PRIVACY NOTICE</h4>
                <p> This notice answers some important questions about customer information. It describes our privacy
                    policies including how we collect, use and safeguard customer information. It also explains how
                    customers can direct us not to share certain types of information within our group of companies.
                </p>
                <h4>WHO IS COVERED BY THIS NOTICE?</h4>
                <p> This notice applies to all of our current and former customers. </p>
                <h4>WHAT KINDS OF INFORMATION DO WE COLLECT?</h4>
                <p> We collect the following types of information about our customers: <li> Income, marital status, age,
                        ID
                        proof or passport copies and other information from applications and other related forms you
                        complete for us. </li>
                    <li> Transaction history, account balances and other information relating to your account with our
                        affiliates. </li>
                    <li> Credit histories and other details such as demographic information we receive from our
                        affiliates
                        and other third parties with the title/name "Customer Information." </li>
                </p>
                <h4>HOW DO WE USE THIS INFORMATION TO CUSTOMERS’ BENEFIT?</h4>
                <p> We use Customer Information to provide superior service and value to our customers, in other words,
                    we
                    invest in Customer Loyalty. Sharing Customer Information can save time because our customers are not
                    continually supplying our affiliates with the same information. It also allows the customers to get
                    assistance through our telephone and digital customer service center. </p>
                <h4>HOW DO WE PROTECT CUSTOMER INFORMATION?</h4>
                <p> Our employees have limited access to Customer Information. They have access only when it will help
                    customers do business with us or help us do business with our customers. We maintain physical,
                    electronic and procedural safeguards that comply with strict internal regulations to guard Customer
                    Information. </p>
                <h4>DO WE SHARE INFORMATION WITH OUTSIDE COMPANIES?</h4>
                <p> We do not sell Customer Information to outside companies. We may provide Customer Information to
                    companies that perform marketing services for us or to financial institutions with which we have
                    joint
                    marketing agreements. These companies are obligated to keep Customer Information confidential. We
                    also
                    share Customer Information with others when it is required by law. </p>
                <h4>DOES THE CUSTOMER HAVE A CHOICE ABOUT SHARING THIS CUSTOMER INFORMATION?</h4>
                <p> Customers may call us at <span><a href="tel:+971 4 377 9777">+971 4 377 9777</a></span> and someone
                    will
                    be able to answer questions about our privacy policy and customers may request not to share
                    information
                    at all. However, please note that we are permitted by law to share details and experiences such as
                    account balances and transaction history within our family of companies. </p>
            </div>
        </div>
    </div>
</section>

<app-footer-contact></app-footer-contact>
<section class="client-section">
    <div class="container">
        <div class="client-slider section-gap line-top">
            <app-brands></app-brands>
        </div>
    </div>
</section>

<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [shape2]="ftshape2" [shapeclass]="ftshapeclass"
    [shape2class]="ftshape2class"></app-footer>