<section class="faq-section section-gap">
    <div class="container">
        <!-- FAQ Page Title -->
        <div class="row faq-page-title mb-60 align-items-center">
            <div class="col-lg-6">
                <div class="section-title left-border">
                    <span class="title-tag">FAQ</span>
                    <h2 class="title">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    But must explain to you how all this mistaken idea of denounc easure and praising pain was born
                    and I will give you a compl the system, and expound the actual teachings of the great explorer
                    the truth,
                </p>
            </div>
        </div>
        <!-- FAQ LOOP -->
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion faq-loop grey-header"
            id="faqAccordion">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    How To Create A Mobile App In Expo And Firebase Meet SmashingConf Live: Our New Interactive Online Conference
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    Smashing Podcast Episode With Ben How Optimize How To Build A Vue Survey App Using Firebase ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3">
                <ng-template ngbPanelTitle>
                    Learning Resources Challenging Online Workshops Setting TypeScript Modern React Projects Using Webpack ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-4">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Database Blessing Krofegha wrote ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-5">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Database Meet Sma Ove Online Conference ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-6">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Database Join Our New Online ccessibility ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-7">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Database Using components ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-8">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Interactive Online Conference ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-9">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And Database Join Our New Online ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-10">
                <ng-template ngbPanelTitle>
                    How To Build A Vue Survey App Using Firebase Authentication And In React Apps Using components ?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                    libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minu
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <!-- End Faq LOOP -->
    </div>
</section>