<footer [class]="layout">
    <div class="container">
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-4 col-sm-5 order-1">
                    <div class="widget site-info-widget">
                        <div class="footer-logo">
                            <img [src]="logo" alt="logo">
                        </div>
                        <p>Power of choice is untrammelled & when nothing prevents our being able</p>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-7 order-2">
                    <div class="widget newsletter-widget">
                        <h4 class="widget-title">Subscribe Our Newsletters</h4>
                        <div class="newsletter-form">
                            <form>
                                <input type="email" placeholder="Enter Your Email">
                                <button type="submit" class="main-btn">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 order-3">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Solutions</h4>
                        <ul>
                            <li><a href="#">MT4 Trade Copier</a></li>
                            <li><a href="#">MT4 Client Rebate</a></li>
                            <li><a href="#">MT4 Margin Leverage</a></li>
                            <li><a href="#">MT4 Stop-out Hedger</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-4 order-5">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget nav-widget">
                                <h4 class="widget-title">Services</h4>
                                <ul>
                                    <li><a href="#">IT Services </a></li>
                                    <li><a href="#">Digital Marketing </a></li>
                                    <li><a href="#">MT4 Essentials</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget nav-widget">
                                <h4 class="widget-title">About Us</h4>
                                <ul>
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 order-lg-5 order-4">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">Contact Us</h4>
                        <p>TrustLNS Services, 7th Floor, Al Saqr Business Tower, Dubai, UAE.</p>
                        <ul class="contact-infos">
                            <li>
                                <a href="tel:+0123456789">
                                    <i class="far fa-phone"></i>
                                    +971 4 377 9750
                                </a>
                            </li>
                            <li>
                                <a href="mailto:demo@example.com">
                                    <i class="far fa-envelope-open"></i>
                                    support@icmbservices.ae
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright-text">
                <span>Copy© 2022 All rights reserved. <a href="#">TrustLNS Services</a>.</span>
            </p>
            <a href="javascript:void(0)" class="back-to-top" (click)="gotoTop()"><i class="far fa-angle-up"></i></a>
        </div>
    </div>
    <!-- Lines -->
    <img [src]="shape" alt="line-shape" [class]="shapeclass">
    <img [src]="shape2" alt="line-shape" [class]="shape2class">
</footer>
