<section class="faq-section section-gap with-illustration with-shape grey-bg">
    <div class="container">
        <div class="faq-illustration-img">
            <img src="assets/img/illustration/03.png" alt="illustration">
        </div>
        <div class="row justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="faq-content">
                    <div class="section-title mb-40 left-border">
                        <span class="title-tag">FAQ</span>
                        <h2 class="title">Frequently Asked Questions</h2>
                    </div>
                    <!-- FAQ LOOP -->
                    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion faq-loop" id="faqAccordion">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                How To Create A Mobile App In Expo And Firebase
                                <span class="icons">
                                    <i class="far fa-plus"></i>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                But must explain to you how all this mistaken idea odenouncing pleasure and praising
                                pain was born and will give
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                Smashing Podcast Episode With Ben How ?
                                <span class="icons">
                                    <i class="far fa-plus"></i>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                But must explain to you how all this mistaken idea odenouncing pleasure and praising
                                pain was born and will give
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                            <ng-template ngbPanelTitle>
                                Learning Resources Challenging Workshops ?
                                <span class="icons">
                                    <i class="far fa-plus"></i>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                But must explain to you how all this mistaken idea odenouncing pleasure and praising
                                pain was born and will give
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-4">
                            <ng-template ngbPanelTitle>
                                Micro-Typography: How To Space Kern ?
                                <span class="icons">
                                    <i class="far fa-plus"></i>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                But must explain to you how all this mistaken idea odenouncing pleasure and praising
                                pain was born and will give
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <!-- End Faq LOOP -->
                </div>
            </div>
        </div>
        <div class="circle-img" style="background-image: url(assets/img/faq-circle.png);"></div>
    </div>
</section>