<app-header-one></app-header-one>
<app-breadcrumb></app-breadcrumb>
<app-content></app-content>
<section class="cta-aection">
    <app-cta></app-cta>
</section>
<section class="client-section">
    <div class="container">
        <div class="client-slider section-gap line-top">
            <app-brands></app-brands>
        </div>
    </div>
</section>
<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [shape2]="ftshape2" [shapeclass]="ftshapeclass" [shape2class]="ftshape2class"></app-footer>
