@media (max-width:1440px){
    .banner_outer {
        background-position: right top;
    }
    .banner_outer header {
        margin-top: 20px;
        margin-bottom: 56px;
    }
    .banner_outer h1, .banner_outer .h1 {
        font-size: 56px;
        line-height: 70px;
    }
    .form_outer .tab_outer h2, .form_outer .tab_outer .h2 {
        font-size: 40px;
        line-height: 60px;
    }
    p {
        font-size: 17px;
        line-height: 23px;
    }
    .form_outer .form_in label {
        font-size: 14px;
    }
    .form_outer {
        margin-top: -174px;
        padding-bottom: 74px;
    }
    .nav-pills .nav-link {
        font-size: 15px;
        font-weight: 400;
        color: #989898;
    }
    .ch_outer .ch_in h3, .ch_outer .ch_in .h3 {
        font-size: 14px;
    }
    .ch_outer {
        background-position: right -19% bottom 55%;
        padding-top: 80px;
        background-color: #fff;
    }
    .ch_outer .ch_in p {
        font-size: 12px;
        font-weight: 400;
        color: #989898;
        line-height: 19px;
        margin-bottom: 0px;
        height: 70px;
    }
    .ch_outer h2, .ch_outer .h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .m100 {
        margin-bottom: 80px;
    }
    .contact_outer h2, .contact_outer .h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .contact_outer {
        padding: 80px 0;
    }
    .contact_outer .bg_contact h3, .contact_outer .bg_contact .h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .contact_outer .bg_contact p {
        font-size: 13px;
        line-height: 20px;
    }
    .footer_outer {
        padding: 90px 0 80px;
    }
    .footer_outer .break_3 {
        padding: 40px 0 50px 0;
    }
    .footer_outer .sm_outer span {
        margin-right: 20px;
    }
    .footer_outer .app_link span {
        margin-right: 14px;
        font-size: 13px;
    }
    .m_t50 {
        margin-top: 35px;
    }
}

@media (max-width:1300px){
    .banner_outer h1, .banner_outer .h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .banner_outer header {
        margin-top: 15px;
        margin-bottom: 42px;
    }
    .m40 {
        margin-bottom: 30px;
    }
    .form_outer {
        margin-top: -196px;
        padding-bottom: 42px;
    }
    .form_outer .tab_outer {
        margin-top: 70px;
    }
    .form_outer .tab_outer h2, .form_outer .tab_outer .h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .container-fluid-main {
        padding-left: 45px;
        padding-right: 45px;
    }
    .nav-pills .nav-link {
        font-size: 18px;
    }
    .ch_outer h2, .ch_outer .h2 {
        font-size: 35px;
        line-height: 35px;
    }
    .m50 {
        margin-bottom: 35px;
    }
    .ch_outer {
        background-position: right -54% bottom 62%;
        padding-top: 60px;
        background-color: #fff;
    }
    .contact_outer h2, .contact_outer .h2 {
        font-size: 35px;
        line-height: 35px;
    }
    .contact_outer {
        padding: 60px 0;
    }
    .footer_outer {
        padding: 70px 0 60px;
    }
    .footer_outer .break_3 {
        padding: 30px 0 35px 0;
    }
    .footer_outer ul li {
        font-size: 13px;
        padding-bottom: 10px;
    }
    .m_t50 {
        margin-top: 25px;
    }
    .footer_outer .sm_outer span {
        margin-right: 15px;
    }
    .footer_outer .sm_outer {
        padding-left: 10px;
    }
    .footer_outer .copy_r p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width:1199px){
    .ch_outer {
        background-image: none;
    }
    .footer_outer .sm_outer span {
        margin-right: 8px;
    }
    .footer_outer .app_link span {
        margin-right: 10px;
        font-size: 11px;
    }
    .banner_outer h1, .banner_outer .h1 {
        font-size: 44px;
        line-height: 55px;
    }
}

@media (max-width:991px){
    .banner_outer h1, .banner_outer .h1 {
        font-size: 34px;
        line-height: 46px;
    }
    .footer_logo img {
        width: 100%;
    }
    .form_outer .tab_outer h2, .form_outer .tab_outer .h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .form_outer .tab_outer h2 br {
        display: none;
    }
    .form_outer .tab_outer .tab_right {
        padding-left: 15px;
        margin-top: 25px;
    }
    .form_outer .tab_outer {
        margin-top: 50px;
    }
    .form_outer .form_in label {
        font-size: 12px;
    }
    .form_outer .form_in .btn_submit {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }
    .ch_outer {
        padding-top: 50px;
    }
    .m100 {
        margin-bottom: 50px;
    }
    .ch_outer h2, .ch_outer .h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .contact_outer {
        padding: 50px 0;
    }
    .contact_outer h2, .contact_outer .h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .contact_outer .bg_contact h3, .contact_outer .bg_contact .h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .contact_outer .bg_contact h4, .contact_outer .bg_contact .h4 {
        font-size: 13px;
    }
    .footer_outer {
        padding: 50px 0 50px;
    }
    .banner_outer header {
        margin-top: 12px;
        margin-bottom: 36px;
    }
}

@media (max-width:767px){
    .nav-pills {
        justify-content: center;
    }
    .nav-pills .nav-link {
        margin: 0 10px 10px;
    }
    .ch_outer .ch_in{
        min-height: auto;
        padding-bottom: 0px;
    }
    .ch_outer .ch_in p {
        margin-bottom: 0px;
        height: 50px;
    }
}

@media (max-width:575px){
    .container-fluid-main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner_outer header {
        margin-top: 10px;
        margin-bottom: 26px;
    }
    .banner_outer h1, .banner_outer .h1 {
        font-size: 30px;
        line-height: 33px;
    }
    .m20 {
        margin-bottom: 12px;
    }
    .m40 {
        margin-bottom: 20px;
    }
    .form_outer {
        margin-top: -208px;
        padding-bottom: 30px;
    }
    .form_outer .tab_outer {
        margin-top: 30px;
    }
    .form_outer .tab_outer h2, .form_outer .tab_outer .h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .nav-pills .nav-link {
        font-size: 15px;
    }
    .ch_outer {
        padding-top: 30px;
    }
    .ch_outer h2, .ch_outer .h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .m50 {
        margin-bottom: 22px;
    }
    .ch_outer .ch_in h3, .ch_outer .ch_in .h3 {
        font-size: 14px;
        height: auto;
    }
    .ch_outer .ch_in p {
        height: auto;
    }
    .m100 {
        margin-bottom: 30px;
    }
    .ch_outer .ch_in {
        padding: 20px;
        margin-bottom: 10px;
    }
    .contact_outer {
        padding: 30px 0;
    }
    .contact_outer h2, .contact_outer .h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .contact_outer .bg_contact {
        padding: 25px;
        min-height: auto;
        margin-bottom: 20px;
    }
    .footer_outer {
        padding: 30px 0 30px;
    }
    .footer_outer .break_3 {
        padding: 20px 0 20px 0;
    }
    .footer_logo img {
        width: auto;
    }
    .footer_logo {
        text-align: center;
    }
    .footer_outer .sm_outer {
        padding-left: 0px;
        text-align: center;
    }
    .app_link {
        text-align: center;
    }
    .email_lbl {
        margin-top: 26px;
    }
    .form_outer .tab_outer .tab_right .tab-content-main .green {
        width: 80px;
    }
    .form_outer .tab_outer .tab_right .tab-content-main .red {
        width: 80px;
    }
    
}

@media (max-width:378px){
    .form_outer .tab_outer .tab_right .tab-content-main td {
        font-size: 11px;
    }
}

.longEnough {
    max-height: 220px;
    overflow: auto;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(104, 110, 127, 0.4)!important;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}

