<section class="blog-section section-gap-top section-digit-top">
    <div class="container">
        <div class="section-title text-left both-border mb-50">
            <span class="title-tag">Important Articles</span>
            <h2 class="title">Practices Include</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <!-- Blog loop(Grid) -->
                <div class="blog-loop grid-blog row justify-content-center post-digital-wrap">
                    <!-- Single Post -->
                    <div class="col-lg-4 col-md-4 col-10 col-tiny-12" *ngFor="let item of service | slice:8:11">
                        <div class="single-post-box">
                            <div class="post-thumb">
                                <img [src]="item.image" [alt]="item.title">
                            </div>
                            <div class="post-content">
                                <h4 class="title">
                                    <a routerLink="/blog-details/{{item.id}}"> {{item.title}} </a>
                                </h4>
                                <p>{{item.shortdesc | slice:0:90}}...</p>
                                <a routerLink="/blog-details/{{item.id}}" class="post-link">
                                    Learn More <i class="far fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
