.js-parallax-elm-box {
    overflow: hidden;
  }
  .js-parallax-elm-box img {
    display: block;
  }
  .test-area01-box {
    position: relative;
    width: 358px;
  }
  .test-area01 {
    height: 650px;
    border-radius: 99em;
  }
  .test-area02 {
    position: absolute;
    left: -64px;
    bottom: -2px;
    width: 200px;
    height: 200px;
    border-radius: 99em;
  }
  .test-area02-box {
    position: relative;
    display: block;
    width: 300px;
    margin: 0 9vw 60px auto;
  }
  .test-area03 {
    height: 650px;
    border-radius: 99em;
  }
  .test-area04 {
    position: absolute;
    left: -50px;
    bottom: -50px;
    width: 150px;
    height: 200px;
    border-radius: 99em;
    opacity: .6;
  }
  .test-area05 {
    height: 500px;
    margin: 0 0 200px;
  }
  .test-area06 {
    width: 800px;
    height: 460px;
    margin: 0 auto;
  }

  .test-area03-box {
    position: relative;
    display: block;
    width: 417px;
    margin: 0 5vw 60px auto;
  }

  .test-area07 {
    height: 637px;
    border-radius: 99em;
  }

