<ng-template ngFor let-item [ngForOf]="currentItem" let-i="index">  
    <section class="breadcrumb-section bg-img-c" style="background-image: url({{item.banner}});">
        <div class="container">
            <div class="breadcrumb-text"> 
                    <h1 class="page-title">{{ item.title | titlecase }}</h1>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <!-- <li *ngIf="!route.terminal">
                            <a href="" [routerLink]="[route.url]">{{ title }}</a>
                        </li>
                        <li *ngIf="route.terminal">{{ title }}</li> -->
                        <li>{{ item.title | titlecase }}</li>
                    </ul> 
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
</ng-template>

<section class="service-details section-gap">
    <div class="container">
        <div class="row">
            <!-- Dettails Content -->
            <div class="col-lg-8" *ngFor="let item of currentItem">
                <div class="service-details-content">
                    <div class="main-thumb mb-40">
                        <img [src]="item.img" class="w-100" [alt]="item.title">
                    </div>
                    <h2 class="title">{{item.title}}</h2>
                    <p>{{item.description}}</p>
                    <h3 class="title">{{item.shortdesc}}</h3>
                    <div class="row">
                        <div class="col-lg-12 serv_subtl" *ngFor="let subitem of item.sub_block">
                            <h4 class="sub-title">{{subitem.title}}</h4>
                            <p>{{subitem.text}}</p>
                        </div>
                    </div>
                    
                    <div [innerHtml]="item.htmldata"></div>
                </div>
                <div class="faq-section mt-40">
                    <!-- FAQ LOOP -->
                    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion faq-loop border-style" id="faqAccordion">
                        <ngb-panel id="static-{{1+i}}" *ngFor="let box of item.features;let i = index">
                            <ng-template ngbPanelTitle>
                                {{box.title}}
                                <span class="icons">
                                    <i class="far fa-plus"></i>
                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                {{box.text}}
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <!-- End Faq LOOP -->
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-8">
                <app-servicesidebar></app-servicesidebar>
            </div>
        </div>
    </div>
</section>