<app-header-two></app-header-two>
<app-banner></app-banner>
<app-about></app-about>
<app-service></app-service>
<app-portfolio></app-portfolio>
<app-fact></app-fact>
<app-process></app-process>
<app-testimonials></app-testimonials>
<app-video></app-video>
<app-blogpost></app-blogpost>
<section class="client-section">
    <div class="container">
        <div class="client-slider section-gap">
            <app-brands></app-brands>
        </div>
    </div>
</section>
<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [shape2]="ftshape2" [shapeclass]="ftshapeclass"
    [shape2class]="ftshape2class"></app-footer>