<section class="team-section section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title mb-40 both-border text-center">
            <span class="title-tag">Meet Our Advisors</span>
            <h2 class="title">We Have An Exclusive <br> Team Member</h2>
        </div>
        <!-- Team Boxes -->
        <div class="row team-members justify-content-center">
            <div class="col-lg-3 col-md-4 col-6 col-tiny-12" *ngFor="let item of teamblock">
                <div class="team-member">
                    <div class="member-picture-wrap">
                        <div class="member-picture">
                            <img [src]="item.img" [alt]="item.name">
                            <div class="social-icons">
                                <a routerLink="{{item.url}}" *ngFor="let item of item.social">
                                    <i [class]="item.icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="member-desc">
                        <h3 class="name"><a routerLink="/team-details/{{item.id}}">{{item.name}}</a></h3>
                        <span class="pro">{{item.post}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>