<section class="service-section section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title text-center both-border mb-50">
            <span class="title-tag">Most Features</span>
            <h2 class="title">Expertise And Methods</h2>
            <p>
                Our state-of-the-art MT4 plugins and proprietary CRM systems help brokers at every stage 
                of their brokerage business life cycle. Also, MT4 CRM system integrated with the MT4 
                plugins can automatically map your back-office information.
            </p>
        </div>
        <!-- Services Boxes -->
        <div class="row service-boxes justify-content-center">
            <div class="col-lg-4 col-sm-6 col-10" *ngFor="let item of service | slice:0:limit">
                <div class="service-box-three">
                    <div class="icon">
                        <img [src]="item.shadowicon" [alt]="item.title">
                    </div>
                    <h3><a routerLink="/service-details/{{item.id}}">{{item.title}}</a></h3>
                    <p>{{item.shortdesc | slice:0:40}}</p>
                    <a routerLink="/service-details/{{item.id}}" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
