<section class="service-section section-gap">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title text-center both-border mb-50">
            <span class="title-tag">Our Featured Services Set Us Apart</span>
            <h2 class="title">We deliver trustworthy custom-tailored<br> digital solutions for your business</h2>
        </div>
        <!-- Services Boxes -->
        <div class="row service-boxes justify-content-center">
            <div class="col-lg-4 col-sm-6 col-10" *ngFor="let item of service | slice:0:3">
                <div class="service-box-three service-box">
                    <div class="icon">
                        <img [src]="item.shadowicon" [alt]="item.title">
                    </div>
                    <h3><a routerLink="{{item.link}}">{{item.title}}</a></h3>
                    <p>{{item.shortdesc}}</p>
<!--                    <a routerLink="/service-details/{{item.id}}" class="service-link">-->
<!--                        <i class="fal fa-long-arrow-right"></i>-->
<!--                    </a>-->
                    <a routerLink="{{item.link}}" class="service-link">
                        <i class="fal fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
