<app-header-one></app-header-one>
<app-breadcrumb></app-breadcrumb>

<section class="refund-policy-section about-illustration-img section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>REFUND POLICY</h2>
                <p> Thank you for working with Trust LNS Services. Please read carefully the below Return and Refund Policy of Trust LNS Services. </p>
                <p></p>
                <h4>DIGITAL PRODUCTS</h4>
                <p> Under no circumstances, we issue refunds for digital products once the order is confirmed and the product is sent to the customer. We recommend contacting us for assistance if you experience any issues receiving or downloading our products. </p>
                <p></p>
                <h4>CONTACT US</h4>
                <p> If you have any questions about our Returns and Refunds Policy, please contact us: By email: <span><a _ngcontent-khl-c59="" href="mailto:support@trustlns.ae">support@trustlns.ae</a></span></p>
            </div>
        </div>
    </div>
</section>

<app-footer-contact></app-footer-contact>
<section class="client-section">
    <div class="container">
        <div class="client-slider section-gap line-top">
            <app-brands></app-brands>
        </div>
    </div>
</section>

<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [shape2]="ftshape2" [shapeclass]="ftshapeclass"
    [shape2class]="ftshape2class"></app-footer>