<section class="banner-section banner-section-three">
    <div class="banner-slider">
        <div class="single-banner">
            <div class="container-fluid container-1600">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="banner-content">
                            <span class="promo-text wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">business & consulting</span>
                            <h1 class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="500ms">
                                Together we do IT
                            </h1>
                            <ul class="btn-wrap">
                                <li class="wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                                    <a routerLink="/contact" class="main-btn">Get Started Now</a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="700ms">
                                    <a routerLink="/services" class="main-btn main-btn-3">Our Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 d-none d-md-block">
                        <div class="banner-img text-right wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="800ms">
                            <img src="assets/img/illustration/04.png" alt="illustration">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-shapes">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="banner-line">
                <img src="assets/img/lines/17.png" alt="Image">
            </div>
        </div>
    </div>
</section>